@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffffff;
  font-family: "Nunito", sans-serif;
}
.app {
  margin: 70px 50px;
  .graph-indiv {
    background-color: #fff;
    width: 700px;
    margin: 0 auto;
    padding: 24px 40px;
    margin-bottom: 42px;
    border-radius: 7px;
    box-shadow: 2px 2px 8px 1px rgba(7, 94, 84, 0.24);
    .heading {
      font-size: 1.4rem;
      font-weight: 700;
      text-align: center;
      padding: 0 0 25px 0;
    }
    form {
      display: flex;
      align-items: center;
      padding: 0 0 36px 0;
      .select {
        margin-right: 21px;
        label {
          font-size: 1rem;
          font-weight: 600;
          letter-spacing: 1.2px;
        }
        select {
          width: 75px;
          height: 27px;
          font-size: 1rem;
        }
      }
      button {
        padding: 0 30px;
        height: 32px;
        margin-left: 16px;
      }
    }
  }
}

@media all and (max-width: 1100px) {
  .app {
    margin: 40px 20px;
    .graph-indiv {
      width: 500px;
      margin: 0 auto;
      padding: 18px 27px;
      margin-bottom: 39px;
      .heading {
        font-size: 1.2rem;
        padding: 0 0 21px 0;
      }
      form {
        justify-content: space-between;
        padding: 0 0 30px 0;
        .select {
          margin-right: 0px;
          label {
            font-size: 0.8rem;
          }
          select {
            width: 48px;
            height: 24px;
            font-size: 0.8rem;
          }
        }
        button {
          padding: 0 30px;
          height: 27px;
          margin-left: 0px;
          font-size: 0.7rem;
        }
      }
    }
  }
}

@media all and (max-width: 700px) {
  .app {
    margin: 40px 0px;
    .graph-indiv {
      width: 400px;
      margin: 0 auto;
      padding: 10px 12px;
      margin-bottom: 40px;
      .heading {
        font-size: 1.1rem;
        padding: 0 0 21px 0;
      }
      form {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 30px;
        padding: 0 0 21px 0;
        .select {
          margin-bottom: 12px;
          label {
            font-size: 0.8rem;
          }
          select {
            width: 48px;
            height: 24px;
            font-size: 0.8rem;
          }
        }
        button {
          padding: 0 30px;
          height: 27px;
          margin-left: 0px;
          font-size: 0.7rem;
        }
      }
    }
  }
}
